# Игнорировать все виртуальные окружения и скрытые .env файлы
env/
venv/
.venv/
.env
.env.local
.env.*
!.env.example

# Игнорировать кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать файлы зависимостей
*.egg-info/
*.egg
dist/
build/

# Игнорировать файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорировать логи и временные файлы
*.log
*.tmp
*.bak

# Игнорировать специфичные для ОС файлы
.DS_Store
Thumbs.db
